
/*colors*/
.dark-Beige-Color{
    -fx-background-color: #d6bc99;
}

.brown-Color{
    -fx-background-color:  #4a2f1e;
}


.radius {
    -fx-background-radius: 10;
}

.radiuser {
    -fx-background-radius: 20;
}

.textColor {
    -fx-text-fill: #d6bc99;
}

.transparent {
    -fx-background-color : rgba(0,0,0,0);
}

.input {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #f6eeca;
}

.shadow {
    -fx-effect : dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0, 0.0, 0.0, 10.0)
}

.shadowInfobox {
    -fx-effect: dropShadow(three-pass-box, rgba(0, 0, 0, 0.3), 15.0, 0.0, 10.0, 5.0);
}


.infobox {
    -fx-background-color: #fffffd;
    -fx-background-radius: 20px  20px 20px 20px ; /* Top-left, top-right, bottom-right, bottom-left */

}

.but {
    -fx-background-color: transparent; /* Match background color */
    -fx-border-color: #d6bc99;
    -fx-border-width: 2px; /* Border thickness */
    -fx-text-fill: #d6bc99; /* Text color */
}

.genre-button {
    -fx-background-color:  #593f2d;
    -fx-text-fill: #f5ebc7;
    -fx-background-radius: 10px;
}
.genre-button:selected {
    -fx-background-color: linear-gradient(to right, #ff7e5f, #feb47b); /* Example gradient */
}


.progress-bar .track {
    -fx-background-radius: 0;
}

.progress-bar .bar {
-fx-background-color:  #d6bc99;
    -fx-background-radius: 0;
    -fx-background-insets: 0px;
}



/*buttons*/
    .ghost-button {
        -fx-background-color: transparent;
        -fx-border-color: #d6bc99;
        -fx-border-width: 1px;
        -fx-text-fill:#d6bc99;
        -fx-cursor: hand;
    }

/*buttons animations*/
    light-button-animation:hover { /*yellow / golden orange*/
        -fx-background-color: linear-gradient(to bottom, #FDE4A3, #F5B963);
    }
    .light-button-animation:pressed {
        -fx-background-color: linear-gradient(to bottom, #E7AC50, #C98A40);
        -fx-scale-x: 0.95;
        -fx-scale-y: 0.95;
    }

    .dark-button-animation:hover { /* Light brown/sand*/
        -fx-background-color: #C6A57B;
        -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.2), 10, 0.3, 0, 2); /*A soft white glow*/
    }
    .dark-button-animation:pressed { /*Dark brown*/
        -fx-background-color: #8C6B47;
        -fx-scale-x: 0.95;
        -fx-scale-y: 0.95;
    }



    .ghost-button-animation:hover {
        -fx-background-color: #d6bc99;
        -fx-border-color: #d6bc99;
        -fx-border-width: 1px;
        -fx-text-fill:#4a2f1e;
    }

    .ghost-button-animation:pressed {
        -fx-background-color: #8C6B47;
        -fx-scale-x: 0.95;
        -fx-scale-y: 0.95;
    }



